<?xml version="1.0" encoding="UTF-8"?>
<options>
	<location type="jvm">/usr/bin/java</location>
	<!-- jars -->
	<location type="jar">../SplainTime/dist/SplainTime.jar</location>
	<location type="jar">C:/Users/Nicholas/Downloads/SplainTime.jar</location>
	<location type="jar">
		<path></path>
		<desc></desc>
	</location>
	<!-- args -->
	<argBundle>
		<flag>-h</flag>
	</argBundle>
	<argBundle>
		<summary></summary>
		<flag>-am</flag>
		<flag>-debug</flag>
		<needsIo />
	</argBundle>
</options>
