<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE jl_options PUBLIC
	"jarlauncher" "config.dtd">
<jl_options>
	<location type="jvm">/usr/bin/java</location>
	<!-- jars -->
	<location type="jar">
		<path>../SplainTime/dist/SplainTime.jar</path>
		<desc>Splaintime in the splaintime folder</desc>
		<tuner>-XX:NewSize=128m</tuner>
	</location>
	<location type="jar">
		<path>C:/Users/Nicholas/Downloads/SplainTime.jar</path>
		<desc>Splaintime in my downloads folder</desc>
	</location>
	<location type="jar">
		<path>dist/JarLauncher.jar</path>
		<desc>what's the base case on this recursion ?</desc>
		<tuner>-jamvm</tuner>
	</location>
	<!-- args -->
	<argBundle>
		<flag>-h</flag>
	</argBundle>
	<argBundle>
		<summary>debuggle</summary>
		<flag>-am</flag>
		<flag>-debug</flag>
		<needsIo />
	</argBundle>
</jl_options>
